.ent101-form-widget-wrapper {
  color: #ffffff;
  width: 350px;
  min-height: 800px;
  background: linear-gradient(180deg, #000000 0%, #343434 50%, #c7c7c700 100%);;
  margin: 0 auto;
  padding: 50px 20px 20px 20px;
  .ent101-widget-content {
    min-height: 500px;
  }
  .ent101-buttons-row {
    padding: 10px;
    .ent101-basic-button {
      background-color: rgb(226, 226, 226);
      display: block;
      margin: 0 auto;
      width: 100px;
      color: #000000;
    }
  }
}

.ent101-weather-icon {
  height: 100px;
}
.ent101-param-list {
  display: grid;
  grid-template-columns: 2fr auto;
  grid-auto-columns: 2fr auto;
  .ent101-param-name,
  .ent101-param-context {
    height: 30px;
  }
}

.etn101-text-center {
  text-align: center;
}

.ent101-form-full-width {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.ent101-input-full-width {
  width: 100%;
}

.ent101-weather-icon img {
  animation: showIcon 5s infinite;
}

@keyframes showIcon {
  0%, 100% {
    opacity: 1;
    transform: scale(1.0, 1.0);
  }
  50% {
    opacity: 0.7;
    transform: scale(0.9, 0.9);
  }
}
